{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
<head>

    <title>Create Interview</title>
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.css' %}" >
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}" >
    <link href="{% static 'core_bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'core_bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{#    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'hod_bootstrap/offcanvas.css' %}" rel="stylesheet">#}
  </head>

  <body>
    <!--Nav_Bar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/hod/"><b>Erms</b></a>
            </div>

            <div class="collapse navbar-collapse" id="topNavBar">
                <form class="navbar-form navbar-left" role="search" method="get" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/hod/hod_msg/recieve/">
                            <i class="fa fa-envelope" aria-hidden="false"></i></span>&nbsp; Inbox
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class=" fa fa-cog" aria-hidden="false"></i>&nbsp; Settings
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-power-off" aria-hidden="false"></i>&nbsp; Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container-fluid">
  	    <div class="row">
            <div class="col-sm-3">
            <!-- Left column -->
            <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong></a>
            <hr>
            <ul class="nav nav-stacked">
                    <ul class="nav nav-stacked collapse in" id="userMenu">
                        <li class="active"> <a href="/hod/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li><a href="/hod/hod_inter/"><i class="fa fa-book"></i> Interview</a></li>
                        <li><a href="/hod/hod_cv/"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="/hod/hod_msg/"><i class="fa fa-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
                        <li><a href="/deo/"><i class="fa fa-comment"></i> DEO</a></li>
                    </ul>
            </ul>
        </div>
            <div class="col-sm-5">
                <div class="col-sm-10">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Interview Form
                        </h1>

                    </div>
                </div>
                <form action="" method="post">
                    {{ Vacn|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
     <div class="bottom">
        <hr>
           <footer>
              <p><i>All Right Reserved</i> &copy; Erms 2016</p>
           </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'hod_bootstrap/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'hod_bootstrap/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'core_dootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'hod_bootstrap/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'hod_bootstrap/offcanvas.js' %}"></script>
  </body>
</html>

