{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.css' %}" >
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}" >
    <link href="{% static 'core_bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'core_bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
</head>
<body>
<!--Nav_Bar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/hod/"><b>Erms</b></a>
            </div>

            <div class="collapse navbar-collapse" id="topNavBar">
                <form class="navbar-form navbar-left" role="search" method="get" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/hod/hod_msg/recieve/">
                            <i class="fa fa-envelope" aria-hidden="false"></i></span>&nbsp; Inbox
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class=" fa fa-cog" aria-hidden="false"></i>&nbsp; Settings
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-power-off" aria-hidden="false"></i>&nbsp; Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
  	    <div class="row">
            <!--Side Bar-->
            <div class="col-sm-3">
                <ul id="sidebar" class="nav sidebar-nav">
                    <li><a href="/hod/">Dashboard</a></li>
                    <li><a href="/hod/hod_inter/">Interview</a></li>
                    <li><a href="/hod/hod_cv/">Profiles</a></li>
                    <li><a href="/hod/hod_msg/">Message</a></li>
                </ul>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                             Vacancy List
                        </h1>
                    </div>
                </div>
                <form method="get">{% csrf_token %}
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Post</th>
                            <th>Date of Pub</th>
                            <th>View</th>
                            <th>Creat Interview</th>
                        </tr>
                        {% for b in obj %}
                        <tr>
                            <th>{{ b.Post }}</th>
                            <th>{{ b.DateOfPublish }}</th>
                            <th><a class="btn btn-warning" href="#">View</a></th>
                            <th><a class="btn btn-primary" href="/hod/hod_vacancy/test/{{ b.DateOfPublish }}/">Set Interview</a></th>
                        </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </div>


</body>
</html>