{% extends "admin/index.html" %}
{% load crispy_forms_tags %}
{% block requiremnts %}
{% load bootstrap %}
        <div class="col-lg-12">
                <!-- Large modal -->

                 <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Degree</div>
                        <div class="panel-body">
                        <ul>
                            {% for fields in qual %}

                                <li><h4>Degree:{{ fields.Degree.Degree.Type }}{{ fields.Degree.Degree.Field}}</h4></li>


                            {% endfor %}
                        </ul>
                        </div>
                        <div class="panel-footer">
                            Panel Footer
                        </div>
                    </div>
                 </div>
        </div>

        <div class = "col-lg-6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add Requiurements</button>
                <div class="modal fade bs-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">New Requirements</h4>
                      </div>
                    <form method="post" role="form" action="/ermsapp/DEO/qualreq/{{ pid }}" >
                      <div class="modal-body">

                            {% csrf_token %}
                            <div class="form-group">
                                {% for fields in deo_form %}
                                    {{ fields|bootstrap }}
                                {% endfor %}
                            </div>
                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary">
                      </div>
                    </form>
                    </div>
                  </div>
                </div>

        </div>

{% endblock %}

