{% extends "deo/deo_index.html" %}
{% load crispy_forms_tags %}
{% block deo_form_degree %}
{% load bootstrap %}
        <div>
        <strong>{{ completion }}</strong>
        </div>
        <div id="personal">
        <div class="col-lg-6">
            <form method="post" action="degreechoice"  class="col-sm-12" role="form">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in deo_form %}
                        {{ field|bootstrap }}
                    {% endfor %}
                </div>
                <div col-lg-12>
                   <input type="submit" class="btn btn-primary btn-block">
                </div>
                <br>
                <div col-lg-12>
                   <a href="/ermsapp/DEO/spcl_achvmnt_info"><input class="btn btn-success btn-block" value="Next" class ="btn btn-success""></a>
                </div>
                <div col-lg-12>

                </div>
            </form>
        </div>
        </div>
{% endblock %}
