{% extends "deo/deo_index.html" %}
{% load crispy_forms_tags %}
{% block deo_form_OoA %}
{% load bootstrap %}
    <div>
        <strong>{{ completion }}</strong>
        </div>
        <div id="DegreeChoice">
            <div class="main col-lg-8">
            <form method="post" role="form" action="/ermsapp/DEO/advancedlevel/{{ sub }}">
                {% csrf_token %}

                        <div class="col-lg-9">
                            {{ deo_form_al.Subject|bootstrap }}
                        </div>
                        <div class="col-lg-3">
                            {{ deo_form_al.SubResult|bootstrap }}
                        </div>


                <div class="main col-lg-12">
                    <input type="submit" class="btn btn-primary btn-block">
                    <br>
                </div>
            </form>
            <div class="main col-lg-12">
                <br>
                <a href="/ermsapp/DEO/personal_info"><input class="btn btn-success btn-block" value="Next"></a>
            </div>
        </div>
        </div>
{% endblock %}
