{% extends "index.html" %}
        <!-- /col-3 -->
{% block block_body %}
           <div class="col-sm-9">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-paper-plane pull-right"></i>
                                <h4>Interview List</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                <form method="get">
                    <table class="table table-striped">
                        <thead class="thead-default">
                        <tr>
                            <th>Vacancy</th>
                            <th>Date</th>
                            <th>Department</th>
                            <th>Interviewers</th>
                        </tr>
                        </thead>
                        {% for b in inter %}
                        <tr>
                            <th>{{ b.Vacancy }}</th>
                            <th>{{ b.Date }}</th>
                            <th>{{ b.Department }}</th>
                            <th>
                                <a class="btn btn-primary" href="/hod/hod_vacancy/test/part2/inter_list/{{ b.id }}/">Assign</a>
                            </th>
                        </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
