{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>Enterprise Requirement Management System</title>-->
    <title>{{ title_head }}</title>
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.css' %}" >
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static  'core_bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'img/cds.css' %}"/>
    <link rel="stylesheet" href="{% static 'img/style.css' %}"/>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>Erms</b></a>
            </div>

            <div class="collapse navbar-collapse" id="topNavBar">

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-envelope" aria-hidden="false"></i></span>&nbsp; Messages
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class=" fa fa-cog" aria-hidden="false"></i>&nbsp; Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <h2 class="header"><b><i>erms</i></b></h2>
    </div>
    <div class="container">
    <form class="form-signin" action="" method="post">
        <br>
            {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>
    </div>
{#  <!--</div>-->#}

</body>
</html>