{% extends "hod/index.html" %}
        <!-- /col-3 -->
{% block block_body %}
            <div class="col-md-9">
                <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-paper-plane pull-right"></i>
                            <h4><strong>Assign Interviews</strong></h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            You successfully created the Interview, Also you can assign Interviewers to it.
                        </div>
                        <a class="btn btn-success btn-lg" href="/hod/hod_vacancy/test/part2/inter_list/{{ iid }}" role="button">&nbsp; Next<i class="fa fa-arrow-right pull-right"></i></a>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-paper-plane pull-right"></i>
                            <h4><strong>Assign CV</strong></h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            You successfully created the Interview, Also you can assign CVs to it.
                        </div>
                        <a class="btn btn-success btn-lg" href="/hod/hod_vacancy/test/part2/inter_list_cv/{{ iid }}" role="button">&nbsp; Next<i class="fa fa-arrow-right pull-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}