{% extends "hod/index.html" %}
        <!-- /col-3 -->
{% block block_body %}
            <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-paper-plane pull-right"></i>
                                <h4>Interview Schedule</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                    <tr>
                        <th>Vacancy</th>
                        <th>Department</th>
                        <th>Date</th>
                        <th>Interview Type</th>
                        <th>Preview</th>
                    </tr>
                    {% for x in inter_obj %}
                    <tr>
                        <th>{{ x.Vacancy.Post_Dept.Post.Post }}</th>
                        <th>{{ x.Department }}</th>
                        <th>{{ x.Date }}</th>
                        <th>{{ x.InterviewType }}</th>
                        <th><a type="button" class="btn btn-success" href="/hod/hod_inter/hod_inter_overview/view/{{ x. }}/">View</a></th>
                    </tr>
                    {% endfor %}
                </table>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}