<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DEO main page</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link href="links/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="container" style="background-color:#000">

	
    	<div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="images/erms3.png"</a>
    </div>
    <div class="btn-group pull-right">
    <a class="btn btn-default" href="#" role="button">Settings</a>
    <a class="btn btn-default" href="#" role="button">Log out</a>
    <br>
    </div>
    
    </div>

<div class="container" style="background-color:#000; align="right">
<br><br>
	

	<div class="btn-group pull-right">
    	
        <a class="btn btn-default" href="#" role="button">Notifications(2)</a>
    	<a class="btn btn-default" href="#" role="button">Messages(1)</a>
     	<a class="btn btn-default" href="#" role="button">Timeline</a>
        <a class="btn btn-default" href="#" role="button">History</a>
        
     </div>
     <br><br><br>
</div>


<br>

     
     <div class="container" align="right" style="background-color: #FFF">
     	<button type="button" class="btn btn-primary btn-sm" > Help </button>
     	<button type="button" class="btn btn-primary btn-sm" > Save </button>
        <button type="button" class="btn btn-primary btn-sm" > Quick Preview </button>
        <button type="button" class="btn btn-primary btn-sm" > Download </button>
        </div>
    <br>   
    
    <div class="container" align="left" style="background-color: #FFF">
     <div id="vertical" class="btn-group-vertical" align="center">
     	<a class="btn btn-default" href="personalinfo.html" role="button" target="internel">Personal Info</a>
     	<a class="btn btn-default" href="objective.html" role="button" target="internel">Objective</a>
        <a class="btn btn-default" href="education.html" role="button" target="internel">Education</a>
        <a class="btn btn-default" href="projects.html" role="button" target="internel">Projects</a>
        <a class="btn btn-default" href="workexp.html" role="button" target="internel">Work Experience</a>       
        <div class="btn-group">
        	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Skills 
            	<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                	<li><a href="technical.html" target="internel">Technical Skills</a></li>
                    <li><a href="communication.html" target="internel">Communication Skills</a></li>
                    <li><a href="othersk.html" target="internel">Other</a></li>
                </ul>
        </div>
        <a class="btn btn-default" href="references.html" role="button" target="internel">References</a>
        </div>
		<iframe width= "1000" height= "500" name= "internel" align="top">
			</iframe>
     
     </div>

</body>
</html>
