<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link href="links/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<h2 style="color:#603"> Objective </h2>

<br> <br>

<div class="container">

<div class="row">
 <div class="col-xs-2 selectContainer">
                <label class="control-label">Possition</label>
                <select class="form-control" name="possition">
                	<option value="">Possition</option>
                    <option value="">Software Engineer</option>
                    <option value="">Quality Assurance Engineer</option>
                    <option value="">Business Analazist</option>
                    <option value="">Computer Architect</option>
                    
                </select>
            </div>
</div>
<br><br>
<div class="row">
<div class="col-md-2">

<label for="description">Description</label>
<textarea rows="10" cols="100">
</textarea>

</div>
</div>

</div>
</body>
</html>
